@model MLModuloEnquete

<div id="divEnquete_@Model.Repositorio">

    <pergunta> @Model.Enquete.Titulo </pergunta>
    <span style="display:none;color:red;" id="spn_@Model.Repositorio">@T("Selecione uma opção.")</span>

    @if (Model.Enquete.Resultados.Count > 0)
    {
        for (int i = 0; i < Model.Enquete.Resultados.Count; i++)
        {
            <itenenqt>
                <input id="input-@Model.Repositorio@i" name="enquete_@Model.Repositorio" type="radio" value="@Model.Enquete.Resultados[i].Codigo" />
                <label for="input-@Model.Repositorio@i">@Model.Enquete.Resultados[i].Titulo</label>
            </itenenqt>
        }

        <input src="/portal/letstalkpackaging/templates/clear.gif" type="image" id="btnSubmit_@Model.Repositorio" name="responder" />

        <a href="javascript:exibirResultado();" id="resultado_@Model.Repositorio">
            ver parciais
        </a>
    }
</div>
