@model MLModuloEnquete

<form action="" method="post">
    <pergunta> @Model.Enquete.Titulo </pergunta>

    @foreach (var item in Model.Enquete.Resultados.OrderByDescending(o => o.Porcentagem).ToList())
    {
        <itenenqt>@item.Titulo 
            <boxrt>
                <metrica style="width:@(item.Porcentagem)%">&nbsp;</metrica>@(item.Porcentagem)%
            </boxrt> 
        </itenenqt> 
    }

    @if (Model.Enquete.IsVotou.HasValue && !Model.Enquete.IsVotou.Value)
    {
        <a href="javascript:exibirVotacao();" id="btnVoltar_@Model.Repositorio">
            voltar para votação
        </a>
    }
</form>