@model MLModuloEnquete
@{
    var portal = BLPortal.Atual;
}
<div id="conteudo_@Model.Repositorio">
    <p>
        @T("Obrigado por participar desta enquete.")
        
        <a href="javascript:exibirResultado();" id="resultado_@Model.Repositorio">
            ver parciais
        </a>
    </p>
</div>