@model MLModuloTakeOrPay
@{
    Layout = "";
}

<div class="container" id="Final" style="display: none; margin-top:120px;">
    <div class="step-six">
        <h3 class="step-title mb-3"><strong>Obrigado por demonstrar seu interesse em nosso produto!</strong></h3>
        <h3 class="step-title">Sua solicitação será analisada por nosso time e em breve entraremos em contato com você!</h3>

        <div class="step-btns">
            <a href="javascript:window.location.reload();" class="btn btn-navy">Fazer uma nova reserva</a>
        </div>
    </div>
</div>