<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
    <h3 style="text-align:center">
        <strong>
            Termo de Garantia de Espa&ccedil;o e Comprometimento de Volume para Embarque<br />
            Embarque Certo - Cliente Regular
        </strong>
    </h3>

    <p>&nbsp;</p>

    <p style="text-align:justify"><strong>[[NomeCliente]]</strong>, empresa inscrita no CNPJ/MF sob o n. [[CNPJ]], sediada na [[EnderecoCompleto]], doravante denominada &quot;Contratante&quot;, e ALIAN&Ccedil;A NAVEGA&Ccedil;&Atilde;O E LOG&Iacute;STICA LTDA., empresa inscrita no CNPJ/MF sob o n. 02.427.026/0001-46, com sede na Rua Verbo Divino, 1547, 12&ordm; andar, S&atilde;o Paulo/SP, CEP: 04719-002, doravante denominada &quot;Contratada&quot;, ambas doravante denominadas conjuntamente &quot;Partes&quot; e individualmente &quot;Parte&quot;, conforme o respectivo contexto.</p>

    <p>&nbsp;</p>

    <p><strong>CONSIDERANDO QUE:</strong></p>

    <p style="text-align:justify">
        <br />
        (i) A <strong>CONTRATADA</strong> presta servi&ccedil;o de transporte de cabotagem e transporte multimodal em favor da <strong>CONTRATANTE</strong> por interm&eacute;dio de um contrato de presta&ccedil;&atilde;o de servi&ccedil;os formalizado entre as Partes e/ou mediante a formaliza&ccedil;&atilde;o de Proposta Comercial j&aacute; acordada entre as Partes;
    </p>

    <p style="text-align:justify">(ii) A <strong>CONTRATADA</strong> oferece, mediante a negocia&ccedil;&atilde;o e assinatura do presente instrumento, uma garantia de espa&ccedil;o em navio operado pela CONTRATADA no servi&ccedil;o de cabotagem conforme rota contratada, ou em outro navio que eventualmente o substitua no servi&ccedil;o contratado, mediante o comprometimento de volume por parte da CONTRATANTE, nos termos e condi&ccedil;&otilde;es acordados neste instrumento e na(s) Proposta(s) Comercial(is) (Anexo I). Caso seja acordado o embarque em periodicidade mensal, o respectivo embarque ocorrer&aacute; no navio [[NomeNavio]], sendo que caso seja acordado o embarque em periodicidade semanal, a opera&ccedil;&atilde;o ocorrer&aacute; conforme navio dispon&iacute;vel para a execu&ccedil;&atilde;o da respectiva rota;</p>

    <p style="text-align:justify">
        (iii) As Partes declaram reconhecer o presente instrumento e a acordada cl&aacute;usula Embarque Certo (&ldquo;take or pay&rdquo;) como sendo de natureza jur&iacute;dica empresarial, em pleno respeito aos princ&iacute;pios da boa-f&eacute;, autonomia da vontade das Partes, liberdade econ&ocirc;mica e respeito aos contratos.<br />
        Ajustam as Partes, entre si, o presente instrumento, doravante denominado &ldquo;Termo&rdquo;, o qual reger&aacute; a rela&ccedil;&atilde;o jur&iacute;dica entre as Partes no &acirc;mbito do ora acordado, confirmando, por interm&eacute;dio<br />
        deste Termo, seu m&uacute;tuo entendimento a respeito dos Servi&ccedil;os a serem prestados pela <strong>CONTRATADA</strong>, de acordo com os seguintes termos e condi&ccedil;&otilde;es:
    </p>

    <p>&nbsp;</p>

    <p><strong>A CONTRATADA OFERECE:</strong></p>

    <p>&nbsp;</p>

    <ol>
        <li style="list-style-type:none">
            <ol style="list-style-type:lower-roman">
                <li style="text-align:justify">
                    [[UnidadesTotais]] unidades para embarque na rota contratada conforme viagem e demais detalhes constantes na(s) Proposta(s) Comercial(is), dispostos da seguinte forma:<br />
                    Porto RIG: [[RIG]] unidades; Porto IBB: [[IBB]] unidades; Porto IOA: [[IOA]] unidades; Porto SSZ: [[SSZ]] unidades; Porto SPB: [[SPB]] unidades; Porto VIX: [[VIX]] unidades; Porto SSA: [[SSA]] unidades; Porto SUA: [[SUA]] unidades; Porto PEC: [[PEC]] unidades.
                </li>
                <li style="text-align:justify">R$ 4.200,00 (quatro mil e duzentos reais) /unidade (Tarifa Embarque Certo) &ndash; taxa adicional ao frete j&aacute; acordado em vigor [[TextoPropostaComercial]] + ICMS;</li>
                <li style="text-align:justify">Caso a <strong>CONTRATANTE</strong> n&atilde;o cumpra com o compromisso de embarcar o volume [[Semanal/Mensal]] acordado, ser&aacute; cobrada penalidade, qual seja, a referida taxa sobre o volume faltante atrav&eacute;s de fatura e/ou boleto a ser(em) emitido(s) pela <strong>CONTRATADA</strong> a cada per&iacute;odo [[Semanal/Mensal]], com prazo de pagamento de 15 (quinze) dias contados a partir da gera&ccedil;&atilde;o do documento de cobran&ccedil;a.</li>
            </ol>
        </li>
    </ol>

    <p>&nbsp;</p>

    <p><strong>Cl&aacute;usula Primeira &ndash; Dos Servi&ccedil;os e da Cl&aacute;usula Embarque Certo</strong></p>

    <p style="text-align:justify">1.1. A <strong>CONTRATADA</strong>, 7 (sete) dias corridos contados ap&oacute;s a conclus&atilde;o de todas as assinaturas do presente Termo, prestar&aacute; os servi&ccedil;os de transporte multimodal (&ldquo;cabotagem&rdquo; ou &ldquo;cabotagem e terrestre&rdquo;) de cargas da <strong>CONTRATANTE </strong>devidamente estufadas em cont&ecirc;ineres, conforme acordado na(s) Proposta(s) Comercial(is) (Anexo I).</p>

    <p style="text-align:justify">1.2. Nos termos da(s) Proposta(s) Comercial(is) (Anexo I) e do presente instrumento, a <strong>CONTRATADA </strong>garante &agrave; <strong>CONTRATANTE </strong>a acordada quantidade de espa&ccedil;os em navio operado pela <strong>CONTRATADA</strong>, ou outro navio que eventualmente o substitua no servi&ccedil;o contratado, mediante o comprometimento de volume por parte da <strong>CONTRATANTE </strong>e pagamento de valor adicional ao valor da tarifa vigente previamente acordada entre as Partes em um contrato de presta&ccedil;&atilde;o de servi&ccedil;os e/ou proposta comercial em vigor antes da assinatura do presente Termo (Tarifa Embarque Certo).</p>

    <p style="text-align:justify">1.3. Caso a <strong>CONTRATANTE </strong>n&atilde;o respeite seu compromisso [[Semanal/Mensal]] de embarque de volume dentro do per&iacute;odo acordado, ela dever&aacute; pagar &agrave; <strong>CONTRATADA </strong>a integralidade do supra identificado valor adicional ao valor da tarifa vigente (Tarifa Embarque Certo), considerando-se a natureza jur&iacute;dica do presente Termo e a opera&ccedil;&atilde;o e servi&ccedil;o ora contratado. Caso a <strong>CONTRATADA </strong>n&atilde;o respeite seu compromisso em garantir o a quantidade de espa&ccedil;os em navio por ela operado, ou em outro navio que eventualmente substitua aquele no servi&ccedil;o contratado, a <strong>CONTRATADA </strong>dever&aacute; pagar &agrave; <strong>CONTRATANTE </strong>uma multa de car&aacute;ter indenizat&oacute;rio no valor de R$ 200,00 (duzentos reais)/unidade, via Nota de D&eacute;bito a ser emitida pela <strong>CONTRATANTE </strong>contra a <strong>CONTRATADA</strong>, garantindo a <strong>CONTRATADA </strong>o embarque no pr&oacute;ximo navio e assumindo eventuais custos operacionais de reembarque relacionados a essa opera&ccedil;&atilde;o</p>

    <p style="text-align:justify">Par&aacute;grafo primeiro: A <strong>CONTRATANTE </strong>deve solicitar a(s) coleta(s) com no m&iacute;nimo 48 (quarenta e oito) horas de anteced&ecirc;ncia para a realiza&ccedil;&atilde;o da(s) mesma(s) pela <strong>CONTRATADA</strong>.</p>

    <p style="text-align:justify">Par&aacute;grafo segundo: A <strong>CONTRATANTE </strong>declara ter conhecimento da impossibilidade da operacionaliza&ccedil;&atilde;o do embarque do(s) cont&ecirc;iner(es) cuja(s) coleta(s) tenham ocorrido no dia do dead line do navio no respectivo porto de origem.</p>

    <p style="text-align:justify">Par&aacute;grafo terceiro: A garantia de embarque e respectivas condi&ccedil;&otilde;es operacionais acordadas est&atilde;o condicionadas, tamb&eacute;m, ao envio das documenta&ccedil;&otilde;es corretas pela <strong>CONTRATANTE </strong>&agrave; <strong>CONTRATADA </strong>dentro dos prazos acordados entre as Partes.</p>

    <p style="text-align:justify">1.4. Durante a execu&ccedil;&atilde;o dos servi&ccedil;os, a CONTRATADA dever&aacute; atender &agrave;s determina&ccedil;&otilde;es acordadas com a CONTRATANTE e &agrave;s previstas na legisla&ccedil;&atilde;o vigente aplic&aacute;vel.</p>

    <p style="margin-left:40px; text-align:justify">1.4.1 A CONTRATADA compromete-se a respeitar e fazer com que seus empregados respeitem as Normas de Seguran&ccedil;a do Trabalho previstas na legisla&ccedil;&atilde;o, bem como as disciplinas e os regulamentos em vigor na(s) unidades da CONTRATANTE quando da presta&ccedil;&atilde;o de servi&ccedil;o interno, desde que previamente disponibilizadas &agrave; CONTRATADA.</p>

    <p style="text-align:justify">1.5. A <strong>CONTRATANTE </strong>pagar&aacute; &agrave; <strong>CONTRATADA </strong>o valor acordado em Proposta Comercial, respeitando a forma, os prazos para pagamento e atualiza&ccedil;&atilde;o monet&aacute;ria l&aacute; constantes, sob pena de pagamento de multa de 2% (dois por cento), assim como juros de 1% (um por cento) ao m&ecirc;s pro rata die sobre o valor devido, devendo abster-se de efetuar qualquer desconto e/ou reten&ccedil;&atilde;o dos valores devidos &agrave; Contratada a t&iacute;tulo de remunera&ccedil;&atilde;o pelos servi&ccedil;os prestados, al&eacute;m de n&atilde;o emitir t&iacute;tulos de cr&eacute;dito, notas de d&eacute;bito ou cobran&ccedil;a em face desta &uacute;ltima, subcontratados e seguradoras envolvidas, sob pena de responder, sempre e em qualquer caso, por danos diretos comprovadamente causados &agrave; <strong>CONTRATADA</strong>, subcontratados e seguradoras por esta raz&atilde;o.</p>

    <p style="text-align:justify">1.6. Caso entrem em vigor novas leis, regulamenta&ccedil;&otilde;es e/ou normas que impactem de forma significativa nos valores de frete, despesas, taxas e/ou insumos utilizados pela <strong>CONTRATADA</strong>, as Partes se comprometem a rever os respectivos valores do frete ora acordados, sendo que caso n&atilde;o ocorra um acordo ap&oacute;s 10 (dez) dias da respectiva notifica&ccedil;&atilde;o, a parte notificante poder&aacute; rescindir o presente Termo, sem qualquer &ocirc;nus ou penalidade, mantendo-se a vig&ecirc;ncia do mesmo pelo per&iacute;odo de 20 (vinte) dias ap&oacute;s o t&eacute;rmino dos referidos 10 (dez) dias.</p>

    <p style="text-align:justify">1.7. A <strong>CONTRATANTE </strong>deve fornecer &agrave; <strong>CONTRATADA </strong>todas as informa&ccedil;&otilde;es t&eacute;cnicas necess&aacute;rias para a execu&ccedil;&atilde;o dos Servi&ccedil;os, devendo informar &agrave; <strong>CONTRATADA </strong>sua programa&ccedil;&atilde;o de transporte por viagem conforme periodicidade acordada, responsabilizando-se por danos causados aos cont&ecirc;ineres, &agrave; <strong>CONTRATADA</strong>, subcontratados e/ou a terceiros em decorr&ecirc;ncia de embalagem inadequada ou m&aacute; pea&ccedil;&atilde;o de suas cargas caso essa n&atilde;o tenha sido realizada pela <strong>CONTRATADA</strong>.</p>

    <p style="text-align:justify">1.8. Se previsto no Anexo I, a <strong>CONTRATANTE </strong>pagar&aacute; ad valorem &agrave; <strong>CONTRATADA</strong>, pelos disp&ecirc;ndios com a contrata&ccedil;&atilde;o dos seguros de responsabilidade civil do transportador terrestre, nas modalidades, RCTRC, RCFDC e GRIS (Gerenciamento de Risco da Carga), considerando o compartilhamento pelas Partes dos riscos do transporte e suas medidas preventivas.</p>

    <p style="text-align:justify">1.9. Eventual indicador de desempenho (KPI/SLA) e estimativas de prazo acordados entre as Partes serve de acompanhamento e orienta&ccedil;&atilde;o para uma constante melhoria dos Servi&ccedil;os ora contratados conforme abordagem conjunta entre as Partes buscando o melhor desenvolvimento dos Servi&ccedil;os, n&atilde;o devendo a <strong>CONTRATADA </strong>sofrer qualquer penalidade e/ou san&ccedil;&atilde;o nesse sentido.</p>

    <p style="text-align:justify">1.10. As Partes n&atilde;o ser&atilde;o respons&aacute;veis por lucros cessantes, perdas de oportunidade, paradas de planta e/ou quaisquer outros danos indiretos alegados por qualquer das Partes eventualmente prejudicadas, em hip&oacute;tese alguma.</p>

    <p style="text-align:justify">1.11. As Partes e seus subcontratados estar&atilde;o isentos do cumprimento das obriga&ccedil;&otilde;es assumidas neste Termo, bem como de seus respectivos danos, na hip&oacute;tese de caso fortuito ou de for&ccedil;a maior, conforme definido C&oacute;digo Civil Brasileiro, enquanto tais motivos perdurarem, inclusive nas hip&oacute;teses de acidentes, mau tempo, greves dos servi&ccedil;os p&uacute;blicos, manifesta&ccedil;&otilde;es, paraliza&ccedil;&otilde;es, lockout, paradas sindicais das categorias trabalhistas envolvidas ou de outra categoria que de qualquer forma esteja relacionada aos servi&ccedil;os aqui contratados, ficando a parte afetada isenta de toda e qualquer responsabilidade sobre os servi&ccedil;os aqui pactuados, enquanto perdurar o fato, n&atilde;o cabendo &agrave;s Partes o direito de quaisquer indeniza&ccedil;&otilde;es ou multas.</p>

    <p>&nbsp;</p>

    <p><strong>Cl&aacute;usula segunda - DA VIG&Ecirc;NCIA E DA RESCIS&Atilde;O</strong></p>

    <p style="text-align:justify">2.1. Este Termo viger&aacute; a partir de sua data de assinatura at&eacute; a data especificada na(s) Proposta(s) Comercial(is) (Anexo I) ou at&eacute; o fim da vig&ecirc;ncia do BID da <strong>CONTRATANTE</strong>, conforme aplic&aacute;vel, podendo ser rescindido, de pleno direito, em caso de descumprimento pelas Partes das obriga&ccedil;&otilde;es estabelecidas no presente instrumento, bem como em caso de n&atilde;o observ&acirc;ncia de quaisquer exig&ecirc;ncias legais para presta&ccedil;&atilde;o dos Servi&ccedil;os, desde que n&atilde;o seja sanado no prazo de 5 (cinco) dias ap&oacute;s o recebimento de notifica&ccedil;&atilde;o neste sentido ou em outro prazo acordado entre as Partes.</p>

    <p style="text-align:justify">2.2. A <strong>CONTRATANTE </strong>e a <strong>CONTRATADA </strong>poder&atilde;o promover, a qualquer tempo, a resili&ccedil;&atilde;o do Contrato, observado o aviso pr&eacute;vio, por escrito, de 30 (trinta) dias, sem que seja devido a qualquer das Partes, qualquer indeniza&ccedil;&atilde;o ou penalidade em virtude de tal fato, devendo ser cumpridas as respectivas obriga&ccedil;&otilde;es das Partes.</p>

    <p>&nbsp;</p>

    <p><strong>CL&Aacute;USULA terceira - Das disposi&ccedil;&otilde;es gerais</strong></p>

    <p style="text-align:justify">3.1. Nenhuma das Partes poder&aacute; ceder ou transferir seus direitos, obriga&ccedil;&otilde;es ou cr&eacute;ditos relacionados a Instrumento sem a pr&eacute;via e expressa autoriza&ccedil;&atilde;o da outra Parte.</p>

    <p style="text-align:justify">3.2. As Partes declaram que possuem pol&iacute;ticas de compliance e anticorrup&ccedil;&atilde;o, aplicando cada Parte suas respectivas pol&iacute;ticas &agrave; presente rela&ccedil;&atilde;o jur&iacute;dica.</p>

    <p style="text-align:justify">3.3. A <strong>CONTRATADA </strong>se compromete a respeitar todas as normas trabalhistas, previdenci&aacute;rias e securit&aacute;rias, devendo defender e manter a <strong>CONTRATANTE </strong>inc&oacute;lume de todo processo e/ou a&ccedil;&atilde;o judicial ou administrativa, reivindica&ccedil;&otilde;es de seus contratados, reclama&ccedil;&otilde;es trabalhistas em geral e demandas de terceiros decorrentes desses temas.</p>

    <p style="text-align:justify">3.4. Todas as informa&ccedil;&otilde;es relacionadas a este Termo ou que venham a ser fornecidas pelas Partes no curso de sua execu&ccedil;&atilde;o ser&atilde;o consideradas como confidenciais, ressalvadas quest&otilde;es operacionais.</p>

    <p style="text-align:justify">3.5 Cada Parte declara e assume que, na execu&ccedil;&atilde;o deste Contrato, ela e todas as suas afiliadas, diretores, executivos ou subcontratados cumprir&atilde;o em todos os aspectos materiais com todas as leis, regras, regulamentos ou instrumentos similares aplic&aacute;veis, incluindo os relativos ao combate &agrave; corrup&ccedil;&atilde;o, ao direito da concorr&ecirc;ncia e a controles de com&eacute;rcio exterior (leis de controle de exporta&ccedil;&atilde;o e san&ccedil;&otilde;es da ONU, da UE, dos EUA ou de outro &oacute;rg&atilde;o regulador relevante). Nenhuma das Partes dar&aacute;, prometer&aacute; ou tentar&aacute; dar ou aprovar a doa&ccedil;&atilde;o de qualquer coisa de valor a qualquer pessoa, para fins ilegais ou para obter ou reter neg&oacute;cios de forma impr&oacute;pria. Nenhuma das partes &eacute; objeto de san&ccedil;&otilde;es de acordo com controles de com&eacute;rcio exterior. Nenhuma das Partes negociar&aacute;, ou far&aacute; com que a outra Parte negocie, com qualquer pessoa f&iacute;sica ou jur&iacute;dica a respeito de transa&ccedil;&otilde;es proibidas por controles de com&eacute;rcio exterior, exceto com o consentimento pr&eacute;vio por escrito da outra Parte; ou que possam prejudicar os interesses comerciais ou reputacionais da outra Parte, mesmo que n&atilde;o violem qualquer controle de com&eacute;rcio exterior. A CONTRATANTE garante que obteve todas as licen&ccedil;as ou autoriza&ccedil;&otilde;es necess&aacute;rias para quaisquer itens que estejam sendo enviados nos termos deste Contrato e que nenhum item sendo enviado est&aacute; sujeito a qualquer outra proibi&ccedil;&atilde;o de controle de com&eacute;rcio exterior. O cliente garante que nenhum item est&aacute; sendo enviado de ou para qualquer parte com a qual tal transa&ccedil;&atilde;o seria proibida por controles de com&eacute;rcio exterior. Cada Parte estabeleceu processos e mant&eacute;m pol&iacute;ticas e procedimentos para evitar a viola&ccedil;&atilde;o desta cl&aacute;usula, sendo que se uma Parte violar materialmente qualquer das suas obriga&ccedil;&otilde;es ou declara&ccedil;&otilde;es nesta cl&aacute;usula, a outra Parte poder&aacute; rescindir o presente Contrato com efeito imediato sem incorrer em qualquer responsabilidade.</p>

    <p style="text-align:justify">3.6. Aplica-se a lei brasileira &agrave; rela&ccedil;&atilde;o jur&iacute;dica havida entre as Partes no &acirc;mbito do presente Termo, sendo que as Partes elegem o Foro de Santos/SP, com exclus&atilde;o de qualquer outro, por mais privilegiado que seja, para dirimir quaisquer d&uacute;vidas ou quest&otilde;es oriundas desse Termo, sendo de responsabilidade da parte vencida todas as custas, despesas e honor&aacute;rios sucumbenciais.</p>

    <p>&nbsp;</p>

    <p style="text-align:center"><span style="font-size:20px">S&atilde;o Paulo, [[Dia]] de [[Mes]] de 2021.</span></p>

</body>
</html>
