@model MLModuloAgendamentoIntermodal

@if (string.IsNullOrEmpty(Model.NomeView))
{
    <br />
    <p>@T("Clique em") <u>@T("Editar")</u> @T("para exibir os arquivos")</p>
}
else
{
    try
    {
        @Html.Action((string)Model.NomeView, "AgendamentoIntermodal", new { model = Model })
    }
    catch (Exception ex)
    {
        ApplicationLog.ErrorLog(ex);
    }
}