@model MLAgendamentoIntermodalImportacao

<div class="box-agendamento box-agendamento--success sucessoJQ">
    <h2 class="success-title">@T("Envio efetuado com sucesso!")</h2>
    <p>
        Quisque a eros quam. Pellentesque egestas finibus porttitor.<br>
        Praesent fermentum lorem nec euismod euismod. Vivamus lacinia ex at arcu pulvinar, non tincidunt velit viverra.
    </p>
    <a href="javascript:void(0)" class="btn btn-red btn-lg reloadJQ">@T("Fazer um novo Agendamento")</a>
</div>