@model MLAgendamentoIntermodal
@{
    var portal = BLPortal.Atual;
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#FormCarga').validate({
            rules: {
                DataColeta: { required: true },
                Peso: { required: true },
                Equipamento: { required: true },
            },
            errorClass: 'is-invalid',
            errorPlacement: function (error, element) {
                switch (element.attr("name")) {
                    case "CEP":
                        error.appendTo(element.parents('#divCEP'));
                        break;

                    default:
                        error.insertAfter(element);
                        break;
                }
            }
        });

        jQuery.extend(jQuery.validator.messages, {
            required: "O campo é obrigatório",
            maxlength: "Forneça não mais que {0} caracteres.",
            email: "Forneça um endereço de email válido."
        });

        jQuery.validator.addMethod("validEmail", function (value, element) {
            var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;

            return this.optional(element) || regex.test(String(value).toLowerCase());
        }, "Forneça um endereço de email válido.");
    });

    // CLICK NO BOTAO SALVAR EXPORTAÇAO
    $(".btnSalvarCargaJQ").on("click", function (event) {
        if ($('#FormCarga input').hasClass('is-invalid') == false) {
            $(this).prop("disabled", true);
            event.preventDefault();


            if ($("#FormCarga").valid() == true) {

                $.ajax({
                    type: "POST",
                    url: "/cms/@portal.Diretorio/AgendamentoIntermodal/SalvarExportacaoCarga",
                    data: {
                        DataColeta: $("#DataColeta").val(),
                        Peso: $("#Peso").val(),
                        Equipamento: $("#Equipamento").val(),
                        Chave: $("#Chave").val(),
                        Comentario: $("#Comentario").val(),
                        CodigoExportacao: $("#CodigoExportar").val()
                    },
                    success: function (data) {
                        if (data.success == true) {
                            exibirListagemCargas(data.model);

                            $("#Peso").val('');
                            $("#Comentario").val('');
                            $("#DataColeta").val('');
                            $("#Equipamento").val('');
                            //$("#Reefer").prop('checked', false);
                            $(".btnAgendarJQ").fadeIn("slide");
                        }
                        else {
                            $("#mensagem").html('');
                            $("#mensagem").html('<div class="alert alert-danger" role="alert">' + data.msg + '</div>');
                            $('html, body').animate({ scrollTop: 0 }, 800);
                        }
                    },
                    error: function (data) {

                    }
                });
            }

            if ($("#DataColeta").val() <= new Date().toISOString().slice(0, 16)) {
                $("#DataColeta-error").text('Por favor entre com um valor igual ou maior que a data e hora atual');
            }
        }
    });
    
    function exibirListagemCargas(model) {
        $("#divRegistrosCargas").fadeIn("slide");

        var reefer = "";
        if (model.Equipamento == "20RF" || model.Equipamento == "40RH") {
            reefer = " <span class='icon icon-snow'></span>";
        }

        var contador = "";
        if ($("#Container").val() <= 9) {
            contador = "0";
        }

        var registro = "<tr class=" + model.Codigo + "_excluir" + ">" +
                            "<td><span class='icon icon-box'></span></td>" +
                            "<td class='container container_" + model.Codigo + "'>Container " + contador + $("#Container").val() + "</td>" +
                            "<td>" + model.Equipamento + reefer + "</td>" +
                            "<td>" + model.DataColetaFormatada + "</td>" +
                            "<td>" + model.Peso + " kgs" + "</td>" +
                            "<td><span class='icon icon-coments " + (model.Comentario == null ? 'disabled' : '') + "' data-toggle='tooltip' data-placement='top' title='" + (model.Comentario == null ? 'Sem comentários' : model.Comentario) + "'></span> <span title='" + (model.Comentario == null ? 'Sem comentários' : model.Comentario) + "'> " + (model.Comentario == null ? 'Sem comentários' : 'Comentários')+"</span></td>" +
                            "<td><a href='#modalConfirmacao' data-toggle='modal'  onClick='excluirCarga(" + model.Codigo + ")' href='javascript:void(0)' class='icon icon-delete'><span class='sr-only'>Delete</span></a></td>" +
                        "</tr>";

        $(".table tbody").append(registro);
        
        $("#Container").val(parseInt($("#Container").val()) + 1);
    }

    function excluirCarga(codigo) {
        $('.mensagemExclusao').hide();
        $(".divExclusao").fadeIn("slide");
        $("#CodigoExcluir").val(codigo);
    }

    //$(".checkmark").on("click", function () {
    //    if ($("#Reefer").is(":checked")) {
    //        $("#Reefer").prop('checked', false);
    //    }
    //    else {
    //        $("#Reefer").prop('checked', true);
    //    }
    //});

    $(".btnExcluirJQ").on("click", function () {
        $.ajax({
            type: "POST",
            url: "/cms/@portal.Diretorio/AgendamentoIntermodal/ExcluirCarga",
            data: { Codigo: $("#CodigoExcluir").val() },
            success: function (data) {
                if (data.success == true) {
                    var codigo = "." + $("#CodigoExcluir").val() + "_excluir";
                    $(codigo).fadeOut("slide");
                    $(codigo).remove();
                    $("#CodigoExcluir").val('');
                    $(".divExclusao").fadeOut("slide");
                    $('.mensagemExclusao').fadeIn("slide");
                    //$('#modalConfirmacao').modal('hide');

                    if ($("#divRegistrosCargas tr").length == 0) {
                        $(".btnAgendarJQ").hide();
                    }

                    // ajustando os numeros dos containeres
                    var aux = 1;
                    $("Table tr").each(function (index, tr) {
                        if (index <= 8) {
                            $(this).find('.container').text('Container 0' + aux);
                        }
                        else {
                            $(this).find('.container').text('Container ' + aux);
                        }
                        aux = aux + 1;
                    });

                    $("#Container").val(aux);
                }
            },
            error: function (data) {

            }
        });
    });

    $(".btnNaoExcluirJQ").on("click", function () {
        $(".divExclusao").fadeOut("slide");
        $("#CodigoExcluir").val('');
    });

    $(".btnAgendarJQ").on("click", function () {
        $('#modalPopupConfirmacao').modal('show');
    });

    $(".btnSimPopupConfirmacaoJQ").on("click", function (e) {
        e.preventDefault();
        $('#modalPopupConfirmacao').modal('show');
        $(".btnSimPopupConfirmacaoJQ").prop('disabled', true);
        $(".mensagemModal").text("Aguarde, estamos enviando a sua solicitação!");

          $.ajax({
            type: "POST",
            url: "/cms/@portal.Diretorio/AgendamentoIntermodal/Integrar",
              data: {
                  Codigo: $("#CodigoExportar").val(),
                  Nome: $("#Nome").val(),
                  Email: $("#Email").val(),
                  PropostaComercial: $("#PropostaComercial").val(),
                  NumeroBooking: $("#NumeroBooking").val(),
                  CEP: $("#CEP").val(),
                  CNPJ: $("#CNPJ").val(),
                  Endereco: $("#Endereco").val(),
                  Complemento: $("#Complemento").val(),
                  Bairro: $("#Bairro").val(),
                  Cidade: $("#Cidade").val(),
                  Estado: $("#Estado").val(),
                  Html: $("#divRegistrosCargas").html(),
                  Tipo: $("#Tipo").val()
              },
            success: function (data) {
                if (data.success == true) {
                    $(".agendamentoJQ").hide();
                    $(".sucessoJQ").fadeIn("slide");
                    $('#modalPopupConfirmacao').modal('hide');
                }
                else {
                    $(".mensagemModal").text("Houve um problema na sua solicitação, por favor tentar novamente mais tarde!");
                }
            },
            error: function (data) {
            }
        });
    });

    $(".btnSimPopupConfirmacaoJQ").on("click", function (e) {
        e.preventDefault();
        $('#modalPopupConfirmacao').modal('show');

          $.ajax({
            type: "POST",
            url: "/cms/@portal.Diretorio/AgendamentoIntermodal/Integrar",
              data: {
                  Codigo: $("#CodigoExportar").val(),
                  Nome: $("#Nome").val(),
                  Email: $("#Email").val(),
                  PropostaComercial: $("#PropostaComercial").val(),
                  NumeroBooking: $("#NumeroBooking").val(),
                  CEP: $("#CEP").val(),
                  CNPJ: $("#CNPJ").val(),
                  Endereco: $("#Endereco").val(),
                  Complemento: $("#Complemento").val(),
                  Bairro: $("#Bairro").val(),
                  Cidade: $("#Cidade").val(),
                  Estado: $("#Estado").val(),
                  Html: $("#divRegistrosCargas").html(),
                  Tipo: $("#Tipo").val()
              },
            success: function (data) {
                if (data.success == true) {
                    $(".agendamentoJQ").hide();
                    $(".sucessoJQ").fadeIn("slide");
                    $('#modalPopupConfirmacao').modal('hide');
                }
            },
            error: function (data) {

            }
        });
    });

    $("#DataColeta").on("blur", function () {
        $('#invalidaDataColeta').remove();
        $(this).removeClass('is-invalid');

        if ($("#DataColeta").val().length != 16) {
            $(this).addClass('is-invalid');
            $(this).parent().append("<span id='invalidaDataEntrega'><label class='is-invalid' for='dataEntrega'>Campo informado incorretamente!</label><span>");

            $("#DataColeta").val('');
            return;
        }

        var dataInformada = new Date($(this).val());
        var dataAtual = new Date(getDateNow());

        if (dataInformada < dataAtual) {
            $(this).addClass('is-invalid');
            $(this).parent().append("<span id='invalidaDataColeta'><label class='is-invalid' for='DataColeta'>Por favor entre com um valor igual ou maior que a data e hora atual</label><span>");
        }
    });

    function getDateNow() {
        let today = new Date();
        let date = today.getFullYear() + '-' + (today.getMonth() + 1).toString().padStart(2, '0') + '-' + today.getDate().toString().padStart(2, '0');
        let time = today.getHours().toString().padStart(2, '0') + ':' + today.getMinutes().toString().padStart(2, '0');
        return date + 'T' + time;
    }

    $(".reloadJQ").on("click", function () {
        window.location.reload();
    });
</script>


