<div class="row">
    <div class="col-lg-6 col-lg-offset-3" style="margin-left:20%;">
        <h1 class="error-title">Ops :(</h1>
        <h4 class="error-msg"><i class="fa fa-warning text-red"></i> Este Portal não está configurado</h4>
        <p class="lead">
            Verifique se o arquivo JSON está em /Portal/{Diretório do portal/analytics} e se
            o campo Profile ID está preenchido com seu ga id na tela de portais.
        </p>
    </div>
    <!-- /.col-lg-6 -->
</div>