
<a class="btn btn-primary" id="DownloadModelo" >@TAdm("Modelo Importação")</a>
<br />
<br />
<label>@TAdm("(Extensões válidas: .xls e .xlsx)")</label>
<input type="file" name="arquivo" class="form-group" />
<br />
<input type="checkbox" id="ex" name="excluir" value="True" />
<label for="ex">@TAdm("Excluir todos os registros antes da importação")</label> <i class="fa fa-question-circle help" data-content="@TAdm("Todos os registros serão excluidos de forma definitiva do sistema e não poderão ser recuperados.")" data-placement="right" data-original-title="" title=""></i>
<br />
           
