@model MLModuloConteudo
<script type="text/javascript">
    try {
        $('.owl-carousel--fullbanner').owlCarousel({
            loop: true,
            nav: true,
            items: 1,
            dots: false,
            navContainer: '.banner-full .nav-position',
            navText: [
                '<div class="icon icon-chevron-left"></div>',
                '<div class="icon icon-chevron-right"></div>'
            ]
        })
    } catch (e) {

    }
</script>