@{ 
    Layout = "~/areas/cms/views/shared/_masterexternas.cshtml";
}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-banner text-center">
        </div>
        <div class="alert alert-danger">
            <h2>@TAdm("Acesso Negado")</h2>
            <p>@TAdm("Você não possui permissão para visualizar o conteúdo.")</p>
        </div>
    </div>
</div>