<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="ARnOAG9mDAJwiZ1B5nOZV9FDyX44a0JL2RmkEm2W+hr751yUm3JHgGLeurkPk92iI07NiQD3htIuTkgsVMCfUA=="/>
    <add name="Conteudo" connectionString="ARnOAG9mDAJwiZ1B5nOZV9FDyX44a0JL2RmkEm2W+hr751yUm3JHgGLeurkPk92iI07NiQD3htIuTkgsVMCfUA=="/>
  </connectionStrings>

  <appSettings>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.40.3.0" newVersion="1.40.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.40.3.0" newVersion="1.40.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
