<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>Braskem - Notícia Compartilhada
    </title>
  </head>
  <body>
    <table cellpadding="0" cellspacing="0" width="500" align="center" >
      <tr>
        <td style="width:500px; background: #dc2730; padding: 15px 0;" align="left">
          <img style="margin: 0 auto; display: block;" src="http://www.braskem.com.br/portal/principal/includes/css/imagens/n_braskem-email.png" alt="Braskem" style="border:0px;"/>
        </td>
      </tr>
      <tr>
        <td align="center" style="padding:15px 0; background:#f4f4f4; color: #de262f; font: normal 16px Verdana, Arial, Helvetica, sans-serif;">
          <strong>[[nome]] compartilhou com você!
          </strong>
        </td>
      </tr>
      <tr>
        <td valign="middle">
          <table style="border: 1px solid #f4f4f4;width:100%;">
            <tr>
              <td style="padding:10px; color: #5b5b5b; font: normal 11px Arial, Helvetica, sans-serif;">
                <strong>Prezado [[nome_amigo]],</strong>
              </td>
            </tr>
            <tr>
              <td style="padding:10px; color: #5b5b5b; font: normal 11px Arial, Helvetica, sans-serif;">[[nome]] estava navegando em nosso site e achou que você se interessaria por este link:
              </td>
            </tr>
            <tr>
              <td style="padding:10px; color: #5b5b5b; font: normal 11px Arial, Helvetica, sans-serif;">[[COMENTARIO]]</td>
            </tr>
            <tr>
              <td style="padding:10px; color: #5b5b5b; font: normal 11px Arial, Helvetica, sans-serif;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="45%" valign="top">
                            <a href="[[url]]"><img src="[[SRC_IMAGEM]]" width="213" height="132" border="0" alt="" /></a>
                          </td>
                          <td width="3%">&nbsp;</td>
                          <td width="52%" valign="top">
                            <font face="Arial, Helvetica, sans-serif" size="1">
                              <font size="2"><strong>[[TITULO]]</strong></font><br />
                              [[DESCRICAO]]<br />
                              <a href="[[url]]">
                                <strong>Clique aqui</strong>
                              </a>
                            </font>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align="center" style="padding:20px; background:#f4f4f4; color: #8c8c8c; font: normal 11px Verdana, Arial, Helvetica, sans-serif;">Este e-mail foi gerado automaticamente, por favor não o responda.
        </td>
      </tr>
    </table>
  </body>
</html>