@model MLModuloRedeSocial
<!--mol- social-box -->
<div class="section--head" id="divListaRedesSociais_@Model.Repositorio">
    <h2>@(Model.Titulo ?? T("Na Rede"))</h2>
    <p>@T("Estamos conectados! Siga nossos perfis e fique por dentro dos conteúdos que divulgamos por lá.")</p>
  
</div>
<div class="section--body">
    <ul class="list-social list-unstyled" id="ulListaRedesSociais_@Model.Repositorio"></ul>    
</div>
<!-- /mol-social-box -->
@{
    BLConteudo.AdicionarJavaScript(Html.Action("ScriptLista", new { model = Model, bEdicao = ViewBag.Edicao }));
}