.login {
    padding-top: 80px;
}

/*==============
||   HEADER   ||
==============*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2c3e50;
}

.brand-header {
    display: inline-block;
}

    .brand-header a,
    .brand-header span {
        display: inline-block;
        width: 170px;
        height: 60px;
        padding-left: 15px;
        padding-right: 15px;
        text-indent: -999em;
        background: url(../css/img/logo-admin.png) no-repeat center;
    }

/*===============
||    MIOLO    ||
===============*/
.login--header {
    position: relative;
    padding-top: 70px;
    padding-bottom: 35px
}

    .login--header > div {
        position: inherit
    }

    .login--header h1 {
        height: 56px;
        line-height: 56px;
        margin: 0;
        font-family: "odebrechtslab", "Open Sans", Arial, sans;
        font-weight: 100;
        font-size: 3.6em;
        color: #9f9f9f
    }

    .login--header figure {
        width: 140px
    }

        .login--header figure img {
            width: 100%;
            height: auto
        }

    .login--header .input-lg {
        height: 56px;
        line-height: 56px;
        padding-left: 50px;
        font-weight: 100;
        font-family: "Open Sans", Arial, sans;
        font-size: 1.6em
    }

    .login--header .close {
        float: none;
        right: 0;
        top: 0;
        position: absolute
    }

        .login--header .close > b {
            font-size: 0.7em;
            display: inline-block;
            vertical-align: middle
        }

        .login--header .close > span {
            display: inline-block;
            vertical-align: middle
        }

    .login--header .form-control:focus {
        border-color: rgba(53, 53, 53, 0.4);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(53, 53, 53, 0.2)
    }

    .login--header .form-group {
        margin-bottom: 0;
        position: relative
    }

        .login--header .form-group:before {
            position: absolute;
            top: 10px;
            left: 15px;
            width: 20px;
            height: 20px;
            content: "\e003";
            font-family: "Glyphicons Halflings";
            font-size: 2em;
            color: #9f9f9f;
            color: rgba(159, 159, 159, 0.45)
        }

.login--subheader {
    text-align: center;
    margin-bottom: 3em;
    padding-bottom: 1em;
    font-family: "Open Sans", Arial, sans;
    color: #9f9f9f;
    border-bottom: 1px solid rgba(210, 210, 210, 0.4)
}

    .login--subheader h2 {
        font-family: "odebrechtslab", "Open Sans", Arial, sans;
        font-size: 1.3em;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0
    }

.list-rounded {
    list-style: none;
    padding: 0 0 4em 0;
    margin: 0;
    text-align: center
}

    .list-rounded > li {
        display: inline-block;
        width: 117px;
        height: 65px;
        margin: 0 5px 0 0;
        padding: 0;
        list-style: none;
    }

        .list-rounded > li.list-hidden {
            display: none
        }

        .list-rounded > li > a {
            display: table;
            width: 100%;
            height: 100%;
            background: #9f9f9f;
            padding: 5px;
            color: white;
            text-align: center;
            border-radius: 18px;
            -moz-transition: all 150ms linear;
            -o-transition: all 150ms linear;
            -webkit-transition: all 150ms linear;
            transition: all 150ms linear
        }

            .list-rounded > li > a:hover,
            .list-rounded > li > a:focus {
                text-decoration: none;
                background: #2c3e50;
                -moz-transition: all 150ms linear;
                -o-transition: all 150ms linear;
                -webkit-transition: all 150ms linear;
                transition: all 150ms linear
            }

            .list-rounded > li > a span {
                display: table-cell;
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }

/*================
||    FOOTER    ||
================*/
.copy {
    text-align: center;
    color: #666;
    background-color: #fff;
}

    .copy a {
        color: #2c3e50;
    }

    .copy .list-inline {
        display: inline-block;
        margin-bottom: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }

        .copy .list-inline li + li {
            border-left: 1px solid #4e4e4e;
        }

        .copy .list-inline li {
            display: inline-block;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 14px;
            line-height: 1;
        }

.vm2 {
    vertical-align: middle;
    font-size: 35px;
    margin-left: 10px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

@media screen and (max-width: 991px) {
    .login--header {
        padding-top: 1em;
        padding-bottom: 2em
    }

        .login--header .text-right {
            text-align: left
        }

        .login--header .brand {
            position: absolute;
            top: 1em;
            right: 1em
        }

        .login--header .form-group {
            margin-top: 1em
        }

    .list-rounded > li {
        width: 95px;
        height: 95px
    }

        .list-rounded > li > a > span {
            font-size: 0.95em
        }
}

/*================
||    FONTES    ||
================*/
@font-face {
    font-family: 'odebrechtslab';
    src: url('../css/fonts/odebrecht-slab-webfont.eot');
    src: url('../css/fonts/odebrecht-slab-webfont.eot?#iefix') format('embedded-opentype'), url('../css/fonts/odebrecht-slab-webfont.woff2') format('woff2'), url('../css/fonts/odebrecht-slab-webfont.woff') format('woff'), url('../css/fonts/odebrecht-slab-webfont.ttf') format('truetype'), url('../css/fonts/odebrecht-slab-webfont.svg#odebrechtslab') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "cms";
    src: url("/portal/Principal/fonts/cms.eot");
    src: url("/portal/Principal/fonts/cms.eot?#iefix") format("embedded-opentype"), url("/portal/Principal/fonts/cms.woff") format("woff"), url("/portal/Principal/fonts/cms.ttf") format("truetype"), url("/portal/Principal/fonts/cms.svg#cms") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"] {
    display: inline-block;
    line-height: 1;
}

    [class^="icon-"]:before,
    [class*=" icon-"]:before {
        font-family: "braskem-portal" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

.icon-vm2:before {
    content: "\e045";
}

.logo-vm2, .brand > img {
    width: 197px;
}