<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>
  <!-- BANCO DE DADOS -->
  <connectionStrings>
    <!--connstring local -->
    <!--CRIPTOGRAFIA DE:server=servidor;uid=sa;pwd=vm2;database=dbCMSv4.Base -->
    <add name="Default" connectionString="Ih1dkVe5ZJ00VBlLoDJr58vxokKbo3ZQUodQlekbtnASDCcE4D1XgHkLZX5C/isAne736E5+cJTXHBtmD2cq+g==" />
    <add name="Conteudo" connectionString="Ih1dkVe5ZJ00VBlLoDJr58vxokKbo3ZQUodQlekbtnASDCcE4D1XgHkLZX5C/isAne736E5+cJTXHBtmD2cq+g==" />
    
    <!--Homolog DEMOCMS-->
    <!--<add name="Default" connectionString="xXKCap9Qgs+RVPm4N/xVeUfaNpYooCVbMQFYX7It5ojsm7tq0PU9bwUKN399EWpGwTyImId1VHceKJ1nzEGnz2BTmCOkKIsHtkLNkFk67Bg=" />
    <add name="Conteudo" connectionString="xXKCap9Qgs+RVPm4N/xVeUfaNpYooCVbMQFYX7It5ojsm7tq0PU9bwUKN399EWpGwTyImId1VHceKJ1nzEGnz2BTmCOkKIsHtkLNkFk67Bg=" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <!-- SMTP -->
    <!--A CHAVE ABAIXO DETERMINA QUAL SMTP SERÁ UTILIZADO, AO PUBLICAR O SITE, MUDAR PARA 'PRODUCAO'-->
    <add key="SMTP.DEFAULT" value="VM2" />
    <add key="SMTP.VM2.FROM" value="&quot;Homologacao VM2&quot; &lt;homologacao@vm2.com.br&gt;" />
    <add key="SMTP.VM2.HOST" value="smtp.vm2.com.br" />
    <add key="SMTP.VM2.PORT" value="587" />
    <add key="SMTP.VM2.CREDENTIALS.USERNAME" value="JHqwvXE3mYQKycOK62jd75Ivlgz6qxbEi9JAGTaI+P4=" />
    <add key="SMTP.VM2.CREDENTIALS.PASSWORD" value="EJXYKfOUkdU25NisEQJmFg==" />
    <!--mudar12tres-->
    <add key="SMTP.VM2.DEFAULTCREDENTIALS" value="False" />
    <add key="SMTP.PRODUCAO.FROM" value="" />
    <add key="SMTP.PRODUCAO.HOST" value="" />
    <add key="SMTP.PRODUCAO.PORT" value="" />
    <add key="SMTP.PRODUCAO.CREDENTIALS.USERNAME" value="" />
    <add key="SMTP.PRODUCAO.CREDENTIALS.PASSWORD" value="" />
    <add key="SMTP.PRODUCAO.DEFAULTCREDENTIALS" value="False" />
    <!-- HABILITAR REDIRECIONAMENTO PARA HTTPS EM PRODUÇÃO -->
    <add key="CMS.Https.Habilitar" value="False" />
    <!--URL SSL-->
    <add key="CMS.Configuracoes.Url.Ssl" value="" />
    <!-- URL SSL HABILITADA -->
    <add key="CMS.Configuracoes.Url.Https" value="" />
    <!-- FRAMEWORK -->
    <add key="CMS.LogErro.Assunto" value="Log de Erros" />
    <add key="CMS.LogErro.Destinatario" value="" />
    <!-- MODULOS -->
    <!-- CLIENTES -->
    <add key="CMS.ModuloCliente.ExibeAdmin" value="False" />
    <!-- BANNER -->
    <add key="CMS.ModuloBanner.PastaBase" value="/Portal/{0}/arquivos/banner/" />
    <add key="CMS.ModuloBanner.PastaBase.Hover" value="/Portal/{0}/arquivos/banner/Hover/" />
    <!-- BUSCA -->
    <add key="CMS.Busca.UrlResltados" value="/resultado-busca" />
    <!-- LOGIN -->
    <add key="CMS.ModuloLogin.ExibirPortais" value="True" />
    <add key="CMS.ModuloLogin.UrlPerfil" value="/perfil" />
    <!--CADASTRO-->
    <add key="CMS.ModuloLogin.UrlCadastro" value="/cadastre-se" />
    <add key="CMS.ModuloLogin.Cadastro.CodigoBrasil" value="1" />
    <!-- FALE CONOSCO -->
    <add key="CMS.Pastas.FaleConosco.ModeloEmail" value="/Portal/{0}/arquivos/faleconosco/modeloemail/" />
    <add key="CMS.Pastas.FaleConosco.Formularios" value="/Portal/{0}/arquivos/faleconosco/formularios/" />
    <add key="VM2.CMS.Modulo.Formularios.CodigoEticaEmail" value="4207" />
    <add key="VM2.CMS.Modulo.Formularios.CodigoJornalistaEmail" value="22767" />
    <!-- RESULTADO -->
    <add key="CMS.ModuloResultado.PastaBase" value="/Portal/{0}/arquivos/resultado/" />
    <!-- CACHE TRADUÇÃO -->
    <add key="CMS.Traducao.Cache.Habilitar" value="false" />
    <!--REDES SOCIAIS-->
    <add key="CMS.Modulos.RedeSocial.Facebook.IdPagina" value="" />
    <add key="CMS.Modulos.RedeSocial.Facebook.AppId" value="" />
    <add key="CMS.Modulos.RedeSocial.Facebook.AppIdSecret" value="" />
    <!--APP UTILIZADO PARA LOGIN-->
    <add key="CMS.Modulos.RedeSocial.Facebook.App.Login.Id" value="1712429505679159" />
    <add key="CMS.Modulos.RedeSocial.Facebook.App.Login.Secret" value="c8722ddba8aec8f93d4660d8c135537e" />
    <add key="CMS.Modulos.RedeSocial.Twitter.User" value="" />
    <add key="CMS.Modulos.RedeSocial.Twitter.Consumer" value="" />
    <add key="CMS.Modulos.RedeSocial.Twitter.ConsumerSecret" value="" />
    <add key="CMS.Modulos.RedeSocial.Twitter.ConsumerToken" value="" />
    <add key="CMS.Modulos.RedeSocial.Twitter.TokenSecret" value="" />
    <add key="CMS.Modulos.RedeSocial.LinkedIn.Company" value="" />
    <add key="CMS.Modulos.RedeSocial.LinkedIn.Token" value="" />
    <!-- #Replicação de Contéudo .LocaisReplicacao: Endereço (Lógico e/ou Físicos dos locais para replicação) Formato:
            http://wwww.servidor.com.br/Replicacao.asmx;C:\CMS\Arquivos;
      -->
    <add key="VM2.CMS.Replicacao.Locais" value="" />
    <add key="VM2.CMS.Replicacao.EmailErro" value="rafael.vissontai@vm2.com.br" />

    <!--YANDEX-->
    <add key="Framework.Yandex.Key" value="trnsl.1.1.20170707T165618Z.7eb0af5c6bd73ab9.a68cbda456e8611170fa931039dec138c93fb9ec" />
    <add key="Framework.Yandex.Url" value="https://translate.yandex.net/api/v1.5/tr.json/translate" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!--somente produção ! -->
    <trust level="Full" />
    <!--output cache com profile cmoroni-->
    <!-- http://www.asp.net/mvc/overview/older-versions-1/controllers-and-routing/improving-performance-with-output-caching-cs -->
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="CachePublicoMeiaHora" duration="1650" enabled="true" varyByParam="none" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <httpRuntime targetFramework="4.5" maxRequestLength="502400000" maxUrlLength="26000" maxQueryStringLength="99048" />
    <compilation debug="true" targetFramework="4.6.1" />
    <globalization culture="pt-BR" uiCulture="pt-BR" enableClientBasedCulture="true" fileEncoding="utf-8" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Framework.Utilities" />
        <add namespace="CMSv4.Model" />
        <add namespace="CMSv4.BusinessLayer" />
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms defaultUrl="/" loginUrl="/cms" />
    </authentication>
    <customErrors mode="On" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="~/404" />
    </customErrors>
  <httpCookies httpOnlyCookies="true" requireSSL="true" />
  </system.web>
  <system.webServer>
  
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="3000" maxUrl="1000" maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
     <add name="XHtmlScriptHandler" path="*.xhtml" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="JSPScriptHandler" path="*.jsp" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="HtmlScriptHandler" />
      <add name="HtmlScriptHandler" path="*.html" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="IconPack" path="iconpack.axd" verb="GET" type="IconPack.IconHandler" />
      <add name="ImagePlaceHolder" path="placeholder.jpg" verb="GET" type="CMSApp.Helpers.ImagePlaceHolder" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>  
    </httpProtocol>
  </system.webServer>
  <!-- MVC Razor -->
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="CMSBaseViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Optimization" />
        <add namespace="Framework.Utilities" />
        <add namespace="CMSv4.Model" />
        <add namespace="CMSv4.BusinessLayer" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <bindings />
    <client />
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>