@model System.Web.Mvc.HandleErrorInfo
@{
    var portal = BLPortal.Atual;
    var url = System.Web.HttpContext.Current.Request.Url.ToString();
}

<style type="text/css">
    .error-title {
        font-size: 6em;
    }
</style>

@if (url.IndexOf("cms", StringComparison.InvariantCultureIgnoreCase) > -1 ||
    url.IndexOf("admin", StringComparison.InvariantCultureIgnoreCase) > -1) //é admin
{
    Layout = "~/Areas/CMS/Views/Shared/_MasterInternas.cshtml";

    <div>
        <div class="col-md-12">
            <h1 class="error-title">500</h1>
            <h4 class="error-msg"><i class="fa fa-warning text-red"></i> Erro Interno</h4>
            <p class="lead">@Model.Exception.Message</p>
            <button class="btn btn-red" onclick="$('#stacktrace').toggle(200);">Ver StackTrace</button>
        </div>
        <div class="col-md-12" id="stacktrace" style="display: none;">
            <small>@Model.Exception.StackTrace</small>
        </div>
    </div>
}
else
{
    if (portal.Codigo == 1)
    {
        Layout = "/portal/principal/layouts/_BraskemCMS.cshtml";
    }
    else
    {
        Layout = "/portal/ri/layouts/_LayoutRI.cshtml";
    }

    <div class="panel panel-danger panel--not-found">
        <div class="panel-heading">
            <h2 class="panel-title"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Erro Interno</h2>
        </div>
        <div class="panel-body">
            <h3>Erro</h3>
            <p>Houve erro ao processar a página</p>
        </div>
        <div class="panel-footer">
            <a href="/" class="btn btn-default">Voltar para Home</a>
        </div>
    </div>
}