<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
    <style>
        
        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }

    </style>

    <figure class="header--logo" style="text-align:center">
        <img src="[[ImagemHeader]]" alt="">
    </figure>
    <br>

    [[ConteudoTermos]]

    <p style="text-align:center">&nbsp;</p>

    <div style="text-align:center">
        <div style="display: inline-block; margin-right: 40px;">
            <p style="text-align:center">________________________________________________</p>

            <p style="text-align:center">__________</p>

            <p style="text-align:center"><strong>[[NomeCliente]]</strong></p>

            <p style="text-align:center"><strong>Contratante</strong></p>
        </div>

        <div style="display: inline-block; margin-left: 40px;">
            <p style="text-align:center">________________________________________________</p>

            <p style="text-align:center">__________</p>

            <p style="text-align:center"><strong>ALIAN&Ccedil;A NAVEGA&Ccedil;&Atilde;O E LOG&Iacute;STICA LTDA.</strong></p>

            <p style="text-align:center"><strong>Contratada</strong></p>
        </div>
    </div>

    <p style="text-align:center">&nbsp;</p>

    <p><strong>Testemunhas</strong></p>

    <p>&nbsp;</p>

    <div style="text-align:left">
        <div style="display: inline-block; margin-right: 50px;">
            <p>__________________________________________</p>

            <p>Nome:</p>

            <p>RG:</p>
        </div>

        <div style="display: inline-block;  margin-left: 50px;">
            <p>__________________________________________</p>

            <p>Nome:</p>

            <p>RG:</p>
        </div>
    </div>
</body>
</html>